<div class="general">
    <div class="container">
        <h1>@Title</h1>
        <h2>@Message</h2>
        <button @onclick="OkButton">Ok</button>
    </div>
</div>

@code {
    [Parameter]
    public Action? Toggle { get; set; }
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Message { get; set; }
    private void OkButton()
    {
        Toggle?.Invoke();
    }
}
