.colorPalette {
  /** CSS DARK THEME GREEN PRIMARY COLORS */
  --color-green-100: #104416;
  --color-green-200: #2c572d;
  --color-green-300: #456a44;
  --color-green-400: #5e7e5c;
  --color-green-500: #789376;
  --color-green-600: #92a890;
  /** CSS DARK THEME VIOLET PRIMARY COLORS */
  --color-violet-100: #2f1254;
  --color-violet-200: #452a66;
  --color-violet-300: #5c4178;
  --color-violet-400: #725a8a;
  --color-violet-500: #89739d;
  --color-violet-600: #9f8eb0;
  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
  /** CSS DARK THEME MIXED GREEN SURFACE COLORS */
  --color-surface-mixed-green-100: #131713;
  --color-surface-mixed-green-200: #282c28;
  --color-surface-mixed-green-300: #3f433f;
  --color-surface-mixed-green-400: #585b58;
  --color-surface-mixed-green-500: #717471;
  --color-surface-mixed-green-600: #8c8e8c;
  /** CSS DARK THEME MIXED VIOLET SURFACE COLORS */
  --color-surface-mixed-violet-100: #161319;
  --color-surface-mixed-violet-200: #2b282e;
  --color-surface-mixed-violet-300: #423f44;
  --color-surface-mixed-violet-400: #5a585c;
  --color-surface-mixed-violet-500: #737175;
  --color-surface-mixed-violet-600: #8d8c8f;
}
.page {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-surface-100);
}

.sidebar {
  display: flex;
  width: 20%;
  height: 100%;
  background-image: linear-gradient(0deg, var(--color-green-100) 20%, var(--color-violet-100) 80%);
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.hideOrShowBar{
  display: none;
}

main {
  width: 80%;
  height: 100%;
}

@media (max-width: 700px) {
  
  .sidebar {
    width: 40%;
    position: absolute;
    left: 0;
    z-index: 1;
  }
  .hideOrShowBar{
    display: flex;
    width: 15%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: inherit;
  }
  .hideOrShowBar svg{
    width: 90%;
    height: 100%;
    fill: aliceblue;
  }
  .showSideBar{
    transform: translateX(0);
    transition: 0.3s ease-in-out;
    box-shadow: 5dvmin 0 5dvmin 5dvmin rgba(0, 0, 0, 0.6);
  }
  .showSideBar svg:hover{
    fill: var(--color-violet-300);
  }
  .hideSideBar{
    transform: translateX(-85%);
    transition: 0.3s ease-in-out;
    box-shadow: 1dvmin 0 1dvmin 1dvmin rgba(0, 0, 0, 0.6);
  }
  .hideSideBar svg:hover{
    fill: var(--color-green-300);
  }
  main {
    width: 100%;
  }
}