<nav>
    <a class="tab" href="/">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff"
                viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                    d="M320 33.8V160H48.5C100.2 82.8 188.1 32 288 32c10.8 0 21.5 .6 32 1.8zM352 160V39.1C424.9 55.7 487.2 99.8 527.5 160H352zM29.9 192H96V320H0c0-46 10.8-89.4 29.9-128zM192 320H128V192H448V320H384v32H576v80c0 26.5-21.5 48-48 48H352V352c0-35.3-28.7-64-64-64s-64 28.7-64 64V480H48c-26.5 0-48-21.5-48-48V352H192V320zm288 0V192h66.1c19.2 38.6 29.9 82 29.9 128H480z" />
            </svg>
            <p>Home</p>
        </div>
    </a>
    <a class="tab" href="Budget">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff"
                viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                    d="M64 256V160H224v96H64zm0 64H224v96H64V320zm224 96V320H448v96H288zM448 256H288V160H448v96zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z" />
            </svg>
            <p>Budget</p>
        </div>
    </a>
    <div class="separador"></div>
    <p>Categorías</p>
    @foreach (KeyValuePair<string, Category> categoryKvp in Category.Categories)
    {
        <CategoryMenuTab Category=@categoryKvp.Value Rerender="()=>this.StateHasChanged()"/>
    }
    <button class="tab" @onclick=AddCategoryButtonOnClick>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff"
                viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path
                    d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
            </svg>
        </div>
    </button>
</nav>

@code {
    void AddCategoryButtonOnClick()
    {
        MainLayout.DisplayInputValueWindow("Nueva Categoría", "text", "Nombre", (categoryName) =>
        {
            new Category(categoryName);
            this.StateHasChanged();
        });
    }
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        //Load the data of the category tree
        await DatabaseManager.LoadCategoryTreeData.Invoke();
        StateHasChanged();
    }
}
