.general {
     position: relative;
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     background-color: var(--color-surface-mixed-violet-100);
}

.panel {
     display: flex;
     flex-direction: column;
     width: 80%;
     height: 80%;
     justify-content: flex-start;
     align-items: center;
     background-color: var(--color-surface-mixed-violet-200);
     border: 5px double var(--color-violet-100);
     border-radius: 30px;
}

.topPanel {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 20%;
     justify-content: space-around;
     align-items: center;
     background-color: var(--color-surface-mixed-violet-300);
     border-top-left-radius: inherit;
     border-top-right-radius: inherit;
}

.selectorRow {
     display: flex;
     width: 30%;
     height: 30%;
     margin: 1%;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
}

svg {
     cursor: pointer;
     transition: 0.2s;
     width: 100%;
     height: 100%;
     fill: var(--color-violet-500);
}

svg:hover {
     transition: 0.2s;
     scale: 1.5;
     fill: var(--color-violet-600);
}

svg:active {
     transition: 0.2s;
     scale: 1;
}

h1 {
     color: var(--color-violet-400);
}

h2 {
     color: var(--color-violet-500);
}

h3 {
     width: 20%;
     color: var(--color-violet-600);
}


.navButton {
     width: 20%;
     height: 80%;
     background-color: transparent;
     border: none;
}

.bottomPanel {
     width: 100%;
     height: 80%;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     overflow: auto;
     scrollbar-width: thin;
     scrollbar-color: var(--color-violet-300) var(--color-surface-mixed-violet-100);
     scroll-behavior: smooth;
}

.incomeInfo {
     width: 50%;
     height: 10%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
}

.incomeInfo input[type=number] {
     width: 40%;
     color: var(--color-violet-500);
     font-size: 2vw;
}

.incomeInfo input[type=number]:focus {
     border-color: var(--color-violet-500);
}

.budgetInfo {
     width: 80%;
     height: 10%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
}

p {
     width: 20%;
     font-size: 1.5vw;
     color: var(--color-violet-600);
}

.missingCategory {
     color: maroon;
}

input[type=number] {
     width: 20%;
     background-color: transparent;
     color: var(--color-violet-600);
     border: none;
     text-align: center;
     font-size: 1.5vw;


}

input[type=number]:focus {
     border: 2px double var(--color-violet-600);
     outline: none;
     border-radius: 5px;
}

/*To Remove the arrows in the number fields*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
     appearance: none;
}