@page "/"
@using System.Text.Json

<div class="general">
    @if(month is not null)
    {
        @foreach (Movement movement in @month.Movements)
        {
            <MovementCard Movement=@movement />
        }
    }
</div>
@code {
    BudgetMonth? month;
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        //Load the data of the category tree
        string? jsonString = await DatabaseManager.LoadDatabaseData.Invoke("CategoryTree");
        if (jsonString is not null)
        {
            CategoryTreeSerializer.Deserialize(jsonString);
            NavMenu.Rerender?.Invoke();
        }
        //Load the data of the budget month
        month = await BudgetMonth.GetBudgetMonth(DateTime.Now.Year,DateTime.Now.Month);
        StateHasChanged();
     }
}