<div class="movimiento">
     <p>@Movement?.Amount</p>
     <p>@Movement?.rubro.Name</p>
     <p>@Movement?.rubro.concept.Name</P>
     <p>@Movement?.rubro.concept.category.Name</p>
     <p>@Movement?.CreationDate</p>
</div>

@code {
     [Parameter]
     public Movement? Movement {get;set;}
}