<div class="movimiento">
     <p>@Quantity</p>
     <p>@Rubro.Name</p>
     <p>@Rubro.concept.Name</P>
     <p>@Rubro.concept.category.Name</p>
</div>

@code {
     [Parameter]
     public int Quantity { get; set; } = 0;
     [Parameter]
     public Rubro Rubro {get; set;}
}