<div class="pop-up">
     <form>
          <h1>Nuevo Concepto</h1>
          <input class="field" type="text" placeholder="Nombre" @bind=conceptName>
          <input class="button" type="button" @onclick="AddConcept" value="Crear">
     </form>
</div>


@code {
     [Parameter]
     public Action? Toggle { get; set; }
     [Parameter]
     public Category? Category { get; set; }
     private string conceptName = "";
     void AddConcept()
     {
          new Concept(conceptName, Category);
          Toggle?.Invoke();
     }
}