<form>
    <h1>Nueva Categoría</h1>
    <input class="field" type="text" placeholder="Nombre" @bind=categoryName>
    <input class="button" type="button" @onclick="AddCategory" value="Crear">
</form>

@code {
    [Parameter]
    public Action? Toggle { get; set; }
    private string categoryName = "";
    void AddCategory()
    {
        new Category(categoryName);
        Toggle?.Invoke();
    }
}