<div class="pop-up">
     <form>
          <h1>Nuevo Rubro</h1>
          <input class="field" type="text" placeholder="Nombre" @bind=rubroName>
          <input class="button" type="button" @onclick="AddRubro" value="Crear">
     </form>
</div>


@code {
     [Parameter]
     public Action<Concept>? Toggle { get; set; }
     [Parameter]
     public Concept? Concept { get; set; }
     private string rubroName = "";
     void AddRubro()
     {
          new Rubro(rubroName, Concept);
          Toggle?.Invoke(null);
     }
}