<form class="form">
     <h1>Nuevo Movimiento</h1>

     <p>Monto:</p>
     <input class="field" type="number" @bind=amount>

     <p>Rubro:</p>
     <select class="field" @bind="rubroName">
          @foreach(KeyValuePair<string,Rubro> rubro in Rubro.rubros){
               <option value="@rubro.Key">@rubro.Key</option>
          }
     </select>

     <input class="button" type="button" @onclick="AddMovement" value="Añadir">

</form>

@code{

private int amount = 1000;
     private static string rubroName = "";
     
     Rubro RetrieveRubro(string rubroName){
          return Rubro.rubros[rubroName];
     }
     
     void AddMovement()
     {
          Rubro rubro = RetrieveRubro(rubroName);
          new Movement(amount, rubro);
     }     
}

}