<form class="form">
     <h1>Nuevo Movimiento</h1>

     <p>Monto:</p>
     <input class="field" type="number" @bind=amount>

     <p>Rubro:</p>
     <select class="field" @bind="rubroId">
          @foreach(KeyValuePair<int,Rubro> rubro in Rubro.rubros){
               <option value="@rubro.Value.Id">@rubro.Value.Name</option>
          }
     </select>

     <input class="button" type="button" @onclick="AddMovement" value="Añadir">

</form>

@code{

     private int amount = 1000;
     private static int rubroId = 0;
     
     Rubro RetrieveRubro(int rubroId){
          return Rubro.rubros[rubroId];
     }
     
     public void AddMovement()
     {
          Rubro rubro = RetrieveRubro(rubroId);
          new Movement(amount, rubro);
     }     
}

}