.rubroCard {
     display: flex;
     flex-direction: row;
     width: 12.5%;
     height: 25%;
     margin: 5px;
     justify-content: space-around;
     align-items: center;
     text-align: center;
     background-color: var(--color-surface-mixed-green-300);
     border-radius: 5px;
     box-shadow: 2.5px 2.5px 2.5px black;
     color: var(--color-green-600);
     animation: fadeIn 0.25s ease-in-out 0s alternate;
     font-size: 2vmin;
     overflow: hidden;
}

@keyframes fadeIn {
     0% {
          scale: 0%;
     }

     100% {
          scale: 100%;
     }
}

svg {
     height: 40%;
     fill: var(--color-green-600);
     animation: fadeIn 0.15s ease-in-out 0s alternate;
}

.dolarSign {
     height: 80%;
}

.dolarSign:hover {
     fill: forestgreen;
}

.pen:hover {
     fill: goldenrod;
}

.trashCan:hover {
     fill: maroon;
}