.general {
     position: fixed;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100vw;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 1;
     animation: fadeIn 0.25s ease-in-out 0s alternate;
}

@keyframes fadeIn {
     0% {
          scale: 0%;
     }

     100% {
          scale: 100%;
     }
}

.container {
     display: flex;
     flex-direction: column;
     width: 40%;
     height: 40%;
     justify-content: space-around;
     align-items: center;
     text-align: center;
     background-color: var(--color-surface-mixed-violet-100);
     border: 5px double var(--color-violet-100);
     border-radius: 15px;
}

h1 {
     color: var(--color-violet-500);
     margin: 0;
}

h2 {
     color: var(--color-violet-600);
     margin: 0;
}

.buttonsContainer {
     display: flex;
     height: 15%;
     width: 80%;
     flex-direction: row;
     justify-content: space-around;
}

button {
     height: 100%;
     width: 30%;
     padding: 1%;
     margin: 1%;
}

.okButton {
     background-color: var(--color-green-100);
     border: 2px solid var(--color-surface-mixed-green-100);
     border-radius: 10px;
     color: var(--color-green-600);
}

.okButton:hover {
     background-color: var(--color-green-300);
     transition: all 0.25s;
}

.okButton:active {
     background-color: var(--color-green-600);
     transition: all 0.25s;
}

.cancelButton {
     background-color: #800000;
     border: 2px solid #460000;
     border-radius: 10px;
     color: #C08080;
}

.cancelButton:hover {
     background-color: #CC9999;
     transition: all 0.25s;
}

.cancelButton:active {
     background-color: #D9B3B3;
     transition: all 0.25s;
}