@using BudgetManager.Classes
<div class="pop-up" @onclick="()=>Toggle?.Invoke()">
     <form @onclick:stopPropagation>
          <h1>@Title</h1>
          <input class="field" type=@InputType placeholder=@PlaceHolder @bind=value>
          @if (RequireDate)
          {
              <input class="field" type="date" @bind=valueDate>
          }
          <div class="buttonsContainer">
               <input class="button okButton" type="button" @onclick=OnSubmit value="Ok">
               <input class="button cancelButton" type="button" @onclick="()=>Toggle?.Invoke()" value="Cancelar">
          </div>
     </form>
</div>


@code {
    [Parameter]
    public Action? Toggle { get; set; }
    [Parameter]
    public string? Title { get; set; }
    /// <summary>
    /// The type of input for the field (Must be a valid html input type)
    /// </summary>
    [Parameter]
    public string? InputType { get; set; }
    [Parameter]
    public string? PlaceHolder { get; set; }
    [Parameter]
    public Action<InputParameters>? SubmitAction { get; set; }
    [Parameter] public bool RequireDate { get; set; }
    private string? value;
    private DateTime valueDate = DateTime.Today;
    void OnSubmit()
    {
        SubmitAction?.Invoke(new InputParameters(value,valueDate));
        Toggle?.Invoke();
    }
}